* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;
}

.infoNav {
    position: fixed;
    top: 0px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    min-height: 10vh;
    align-items: center;
    background-color: #fcf4d9;
}

.infoHeader {
    font-size: 22px;
    font-weight: 700;
    text-transform: uppercase;
}

.infoLogo{
    height: 70px;
    right: 100%;
}
.infoNavLinks {
    display: flex;
    justify-content: space-around;
    width: 80%;
    padding-right: 20px;
}

.infoText {
    padding: 3%;
    padding-top: 1%;
    font-size: x-large;
}

.infodistancebttexts {
    margin-bottom: 5%;
}
li {
    list-style-type: none;
    text-decoration: none;
}

.centre {
    display: flex;
    text-align: center;
    justify-content: center;
}

.header {
    text-align: center;
    color: #f3f3f3;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 50px;
    line-height: 80px;
    font-family: "Copperplate", fantasy;
}

.subheading1{
    text-align: center;
    color: #ffc884;
    font-weight: 600;
    text-transform: capitalize;
    font-size: 40px;
    line-height: 80px;
}

.play-dictionary {
    text-align: center;
    text-decoration: none;
    color: black;
    font-size: 30px;
    line-height: 40px;
}

.logoGeneral {
    display: flex;
    justify-content: center;
    width: 100%; /*63*/
    height: 50%;
    margin: 0 auto;
}

.h2 {
    text-align: center;
    color: rgb(24, 0, 238);
}

.b12 {
    background-color: teal;
    border: none !important;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 0;
    height: 55px;
    position: fixed;
    left: 20%;
    top: 50%;
    cursor: pointer;
}

.standard-background {
    background-color: #9dcc1a;
}

.b22 {
    cursor: pointer;
    border-color: aqua;
    border-width: 6px;
}

.sdg13-dictionary-b {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 500px;
    font-size: 400%;
    cursor: pointer;
    background-size: 100%, 100%;
    color: aquamarine;
    margin: auto;
    float: left;
    padding: 20px;
    background: #eee;
    box-sizing: border-box;
}

.buttonNext {
    background-color: #ffb85f;
    align-items: center;
    height: -40%;
    width: 20%;
    line-height: 420%;
    float: right;
    cursor: pointer;
    text-transform: uppercase;
}

.buttonBack {
    background-color: #ffb85f;
    align-items: center;
    height: -40%;
    width: 20%;
    line-height: 420%;
    float: left;
    cursor: pointer;
    text-transform: uppercase;
}

.test1 {
    fill: transparent;
    size: 200%;
}

.lineHeight {
    line-height: 600%;
    min-height: 12vh;
}

.greenButton{
    background-color:#44c767;
	border-radius:25px;
	border:2px solid #18ab29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:23px;
	padding:19px 40px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
    float: right;
    margin-right: 20px;
}

.text{
    text-align: center;
    font-size: x-large;
    padding: 30px;
}
.sdg1button{
    background-color: black;
    color: white;
    font-size: 20px;
    padding: 10px 60px;
    border-radius: 5px;
    margin: 10px 0px;
    cursor: pointer;
}

