* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;
}

li {
    list-style-type: none;
    text-decoration: none;
}

.centre {
    display: flex;
    text-align: center;
    justify-content: center;
}

.header {
    text-align: center;
    color: #ffb85f;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 50px;
    line-height: 80px;
}

.play-dictionary {
    text-align: center;
    text-decoration: none;
    color: black;
    font-size: 30px;
    line-height: 40px;
}

.logo13 {
    display: flex;
    justify-content: center;
    width: 100%; /*63*/
    height: 50%;
    margin: 0 auto;
}

.h2 {
    text-align: center;
    color: rgb(24, 0, 238);
}

.b12 {
    background-color: teal;
    border: none !important;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 0;
    height: 55px;
    position: fixed;
    left: 20%;
    top: 50%;
    cursor: pointer;
}

.standard-background {
    background-color: #fcf4d9;
}

.b22 {
    cursor: pointer;
    border-color: aqua;
    border-width: 6px;
}

.sdg13-dictionary-b {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 500px;
    font-size: 400%;
    cursor: pointer;
    background-size: 100%, 100%;
    color: aquamarine;
    margin: auto;
    float: left;
    padding: 20px;
    background: #eee;
    box-sizing: border-box;
}

.akw {
    transform: translate(-55%, -168%) scale(1.8, 2.1);
    /*fill: transparent;*/
    margin: 0 auto;
    width: 63%;
    height: 50%;
    display: block;
}

.bicycle {
    transform: translate(2%, -127%) scale(0.95, 0.95);
    /*fill: transparent;*/
    margin: 0 auto;
    width: 63%;
    height: 50%;
    display: block;
}

.cow {
    transform: translate(-51%, -220%) scale(0.9, 1);
    /*fill: transparent;*/
    margin: 0 auto;
    width: 63%;
    height: 50%;
    display: block;
}

.wind_turbine {
    transform: translate(31%, -665%) scale(1.9, 2);
    /*fill: transparent;*/
    margin: 0 auto;
    padding: auto;
    width: 63%;
    height: 50%;
    display: block;
}

.hedgehog{
    transform: translate(9%, -661%) scale(2, 2);
    /*fill: transparent;*/
    margin: 0 auto;
    width: 63%;
    height: 50%;
    display: block;
}

.tractor{
    transform: translate(67%, -806%) scale(1.9, 1.9);
    /*fill: transparent;*/
    margin: 0 auto;
    width: 63%;
    height: 50%;
    display: block;
}

.tree{
    transform: translate(81%, -886%) scale(2, 2);
    /*fill: transparent;*/
    margin: 0 auto;
    width: 63%;
    height: 50%;
    display: block;
}

.fox{
    transform: translate(88%, -989%) scale(1.9, 1.9);
    /*fill: transparent;*/
    margin: 0;
    padding: 0 , 0;
    width: 63%;
    height: 50%;
    display: block;
}
