:root { --SDG01color:  #E5243B; }
:root { --SDG02color:  #DDA63A;}
:root { --SDG03color:  #4C9F38;}
:root { --SDG04color:  #C5192D;}
:root { --SDG05color:  #FF3A21;}
:root { --SDG06color:  #26BDE2;}
:root { --SDG07color:  #FCC30B;}
:root { --SDG08color:  #A21942;}
:root { --SDG09color:  #FD6925;}
:root { --SDG10color: #DD1367;}
:root { --SDG11color: #FD9D24;}
:root { --SDG12color: #BF8B2E;}
:root { --SDG13color: #3F7E44;}
:root { --SDG14color: #0A97D9;}
:root { --SDG15color: #56C02B;}
:root { --SDG16color: #00689D;}
:root { --SDG17color: #19486A ;}

.colour_SDG01{
   background-color:  var(--SDG01color);
}

.colour_SDG02{
    background-color: var(--SDG02color);
}

.colour_SDG03 {
    background-color: var(--SDG03color);
}

.colour_SDG04 {
    background-color: var(--SDG04color);
    
}

.colour_SDG05 {
    background-color: var(--SDG05color);
}

.colour_SDG06 {
    background-color: var(--SDG06color);
    margin-top: 30px;
    margin-left: 10%;
    margin-right: 10%;
    border-radius: 30px;
}

.colour_SDG07 {
    background-color: var(--SDG07color);
}

.colour_SDG08 {
    background-color: var(--SDG08color);
}

.colour_SDG09 {
    background-color: var(--SDG09color);
}

.colour_SDG10 {
    background-color: var(--SDG10color);
}

.colour_SDG11 {
    background-color: var(--SDG11color);
}

.colour_SDG12 {
    background-color: var(--SDG12color);
}

.colour_SDG13 {
    background-color: var(--SDG13color);
}

.colour_SDG14{
    background-color: var(--SDG14color);
}

.colour_SDG15 {
    background-color: var(--SDG15color);
}

.colour_SDG16 {
    background-color: var(--SDG16color);
}

.colour_SDG17 {
    background-color: var(--SDG17color);
}
