:root {
    --sdg1color: #e5243b;
}
:root {
    --sdg2color: #dda63a;
}
:root {
    --sdg3color: #4c9f38;
}
:root {
    --sdg4color: #c5192d;
}
:root {
    --sdg5color: #ff3a21;
}
:root {
    --sdg6color: #26bde2;
}
:root {
    --sdg7color: #fcc30b;
}
:root {
    --sdg8color: #a21942;
}
:root {
    --sdg9color: #fd6925;
}
:root {
    --sdg10color: #dd1367;
}
:root {
    --sdg11color: #fd9d24;
}
:root {
    --sdg12color: #bf8b2e;
}
:root {
    --sdg13color: #3f7e44;
}
:root {
    --sdg14color: #0a97d9;
}
:root {
    --sdg15color: #56c02b;
}
:root {
    --sdg16color: #00689d;
}
:root {
    --sdg17color: #19486a;
}

.colour_sdg01 {
    background-color: var(--sdg1color);
}

.colour_sdg02 {
    background-color: var(--sdg2color);
}

.colour_sdg03 {
    background-color: var(--sdg3color);
}

.colour_sdg04 {
    background-color: var(--sdg4color);
}

.colour_sdg05 {
    background-color: var(--sdg5color);
}

.colour_sdg06 {
    background-color: var(--sdg6color);
}

.colour_sdg07 {
    background-color: var(--sdg7color);
}

.colour_sdg08 {
    background-color: var(--sdg8color);
}

.colour_sdg09 {
    background-color: var(--sdg9color);
}

.colour_sdg10 {
    background-color: var(--sdg10color);
}

.colour_sdg11 {
    background-color: var(--sdg11color);
}

.colour_sdg12 {
    background-color: var(--sdg12color);
}

.colour_sdg13 {
    background-color: var(--sdg13color);
}

.colour_sdg14 {
    background-color: var(--sdg14color);
}

.colour_sdg15 {
    background-color: var(--sdg15color);
}

.colour_sdg16 {
    background-color: var(--sdg16color);
}

.colour_sdg17 {
    background-color: var(--sdg17color);
}
