.logoUp{
    transform: translateX(6.667vw );
}

.EG{
/*
    max-width: 300px;
    margin: auto;
    display: block;
    position: absolute;
    z-index: 4;
**/
    max-width: 20%;
    position: absolute;
    margin-left: 40vw;
    margin-top: 1vh;
    display: block;
    background-repeat: no-repeat;
    background-position: bottom;
    
}
