.logoUp{
    transform: translateX(50px );
}

.EG{
/*
    max-width: 300px;
    margin: auto;
    display: block;
    position: absolute;
    z-index: 4;
**/
    max-width: 20%;
    display: block;
    margin: 0 auto;
    transform: translateY(-50px);
}
