.logoUp{
    transform: translateX(50px );
}

.EG{
/*
    max-width: 300px;
    margin: auto;
    display: block;
    position: absolute;
    z-index: 4;
**/
    max-width: 20%;
    position: absolute;
    margin-left: 65em;
    margin-top: 3em;
    display: block;
    background-repeat: no-repeat;
    background-position: bottom;
    
}
