.infotextbox {
    background-color: #c5192d20;
    text-align: center;
    padding: 50px;
    padding-top: 0;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 50px;	
    border-left-style: solid;
    border-left-color: var(--SDG04color);
    border-width: 10px;
    height: 65vh;
    justify-content: baseline;
}
.nextbutton {
    float: right;
    justify-content: space-around;
    margin-right: 5%;
    margin-top: -8vh;
}
.backbutton {
    float: left;
    justify-content: space-around;
    margin-left: 8em;
    margin-top: -8vh;
}

.backbutton02s {
    
    float: left;
    justify-content: space-around;
    margin-right: 5%;
    margin-top: -8vh;
}

.nextbutton02GB {
    float: right;
    justify-content: space-around;
    margin-right: 5%;
    margin-top: 2vh;
}
.backbutton02GB {
    float: left;
    justify-content: space-around;
    margin-left: 8em;
    margin-top: 2vh;
}

.checkButton {
    bottom: "5vh";
    position: "fixed";
    display: block;
    margin: auto;
    display: flex;
justify-content: center;
}
.buttonInvisible {
    margin-top: -150px;
    width: 1px;
    height: 1px;
    background-color: white;
    border-style: none;
}
.bodytext {
    font-size: 50px;
    hyphens: auto;
}

.bodytextInfotext {
    font-size: 3.5vh;
    font-size: 2vw;
    hyphens: auto;
    justify-content: baseline;
}

.headertext {
    font-size: 5vh;
    font-size: 5vh;
}

.headertextInfotext {
    font-size: 5vh;
    font-size: 5vh;
    padding-bottom: 10px;
    padding-top: 30px;
}
.texttext {
    font-size: 6vw;
    font-size: 4vh;
    text-align: justify;
    hyphens: auto; 
}

.texttextInfotext {
    font-size: 6vw;
    font-size: 4vh;
    text-align: justify;
    hyphens: auto; 
}

.textBox{
    font-size: "x-large";
    padding: "4vw";
    text-align: "center";
}

.pic_show {
    max-width: 750px;
    visibility: visible;
}

.pic_hide {
    visibility: hidden;
    max-width: 1px;
}
