.infotextbox {
    background-color: #c5192d20;
    text-align: center;
    font-size: x-large;
    padding: 50px;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;
    border-left-style: solid;
    border-left-color: var(--SDG04color);
    border-width: 10px;
    height: 650px;
}
.nextbutton {
    float: right;
    justify-content: space-around;
    margin-right: 5%;
    margin-top: -60px;
}
.backbutton {
    float: left;
    justify-content: space-around;
    margin-left: 8em;
    margin-top: -60px;
}
.buttonInvisible {
    margin-top: -150px;
    width: 1px;
    height: 1px;
    background-color: white;
    border-style: none;
}
.bodytext {
    font-size: 50px;
}
.headertext {
    font-size: 70px;
}

.pic_show {
    max-width: 750px;
    visibility: visible;
}

.pic_hide {
    visibility: hidden;
    max-width: 1px;
}
