.infotextbox
{
    background-color: #C5192D20;
    text-align: center;
    font-size: x-large;
    padding: 50px;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;
    border-left-style: solid;
    border-left-color: var(--sdg4color); 
    border-width: 10px;  
    font-size:35px
}