:root {
    --buttonBorderInfotext: 50px;
}

.pushable {
    position: relative;
    border: none;
    background: transparent;
    padding: 0;
    cursor: pointer;
    outline-offset: 4px;
    transition: filter 250ms;
    -webkit-tap-highlight-color: transparent;
}

.shadow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: var(--buttonBorderInfotext);
    background: hsl(0deg 0% 0% / 0.25);
    will-change: transform;
    transform: translateY(8px);
    transition: transform 600ms cubic-bezier(0.3, 0.7, 0.4, 1);
}

.edge {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: var(--buttonBorderInfotext);
    background: linear-gradient(
            to left,
            hsl(340deg 100% 16%) 0%,
            hsl(340deg 100% 32%) 8%,
            hsl(340deg 100% 32%) 92%,
            hsl(340deg 100% 16%) 100%
    );
}

.edgegreen {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: var(--buttonBorderInfotext);
    background: linear-gradient(
            to left,
            hsl(120deg 100% 16%) 0%,
            hsl(120deg 100% 32%) 8%,
            hsl(120deg 100% 32%) 92%,
            hsl(120deg 100% 16%) 100%
    );
}

.edgeorange {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: var(--buttonBorderInfotext);
    background: linear-gradient(
            to left,
            hsl(35deg 100% 16%) 0%,
            hsl(35deg 100% 32%) 8%,
            hsl(35deg 100% 32%) 92%,
            hsl(35deg 100% 16%) 100%
    );
}


.front {
    display: block;
    position: relative;
    padding: 70px 40px;
    border-radius: var(--buttonBorderInfotext);
    font-size: 1.25rem;
    color: white;
    background: hsl(345deg 100% 47%);
    will-change: transform;
    transform: translateY(-15px);
    transition: transform 600ms cubic-bezier(0.3, 0.7, 0.4, 1);
}

.pushable:hover {
    filter: brightness(110%);
}

.pushable:hover .front {
    transform: translateY(-6px);
    transition: transform 250ms cubic-bezier(0.3, 0.7, 0.4, 1.5);
}

.pushable:active .front {
    transform: translateY(-2px);
    transition: transform 34ms;
}

.pushable:hover .shadow {
    transform: translateY(4px);
    transition: transform 250ms cubic-bezier(0.3, 0.7, 0.4, 1.5);
}

.pushable:active .shadow {
    transform: translateY(1px);
    transition: transform 34ms;
}

.pushable:focus:not(:focus-visible) {
    outline: none;
}

.buttontext {
    font-size: 60px;
    text-align: center;

}