.title{
    margin-top: 3vh;
    margin-left: 4.166vw;
    font-size: 2.5vh;
    font-weight: bold;
    text-decoration: underline;
}

.quizComponentQuestion{
    text-align: center;
    margin-top: 3vh;
    margin-left: 4.166vw;
    font-size: 2.5vh;
    font-weight: bold;
    text-decoration: underline;
}