.red {
    color: red;
}

.green {
    color: green;
}

.questionText {
    border: 5px solid #1c6ea4;
    border-radius: 18px;
    padding: 0;
    text-align: center;
    justify-content: center;
    margin: 0%;
    margin-bottom: 20px;
}
.quizQuestion {

    background-size: 10%;
    text-align:left;
    padding: 30px;
    margin-left: 20%;
    margin-right: 20%;
    border-left-style: solid;
    border-left-color: #C5192D;
    border-width: 10px;
    border-radius: 15px;
    margin-top: 6%;
    margin-bottom: 1%;
    font-size:75px;
    font-family: Arial;
    color: black
}
.questionNumber {
    background-size: 10%;
    text-align: center;
    font-size: x-large;
    padding: 30px;
    margin-left: 1700px;
    margin-top: 970px;
    border-width: 10px;
    border-radius: 15px;
    font-size:45px;
    font-family: Arial;
    color: black;
    float: left;
    position: absolute;
}

.answerButton {
    justify-content: space-around;
    background-color: white;
    display: flex;
    background-color: #ffffff;
    border-radius: 25px;
    border: 2px solid #000000;
    display: inline-block;

    color: #000000;
    font-family: Arial;
    font-size: 23px;
    padding: 19px 40px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #2f6627;
    justify-content: space-around;
    align-items: center;
}

.answerButtonleft {
    justify-content: space-around;
    align-items: center;
    float: left;
    margin-left: 25.5%;
    max-width: 15%;
    margin-top: 15%;
}

.answerButtonright {
    justify-content: space-around;
    align-items: center;
    float: right;
    margin-right: 25.5%;
    max-width: 15%;
    margin-top: 15%;
}

.solution {
    font-size: x-large;
    align-items: center;
    margin: 12%;
    margin-top: 9%;
}
.quiztextbox {
    background-color: rgba(255, 0, 0, 0.1);
    text-align: center;
    font-size: 45px;
    padding: 30px;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 5%;
    border-left-style: solid;
    border-left-color: red;
    border-width: 10px;
}
.letterbox{
   margin-bottom: 5px;
   width: 15%;
}