.spacer{
    margin-top: 60px;
    margin-left: 50px; 
    margin-right: 50px; 
    align-items: center;
    margin-bottom: 30px;
    padding-bottom: 30px;

}

.movedown{
    margin-top: 60px;
}

.center{
    align-items: center;
    max-width: 800px;
    position: relative;
    left: 30%;
}

.noborder{
    background-color: orange;
    font-size: 30px;
}

.withborder{
    background-color: "orange";
    font-size: "30px";
    border: black 10px solid; 
} 

.SchmetterlingSDG02{
    display: flex;
    align-items: center;
    transform:translateX(200px) translateY(50px);
   
    height: 500px;
}
.LeereFlügel{
    display: flex;
    align-items: center;
    transform:translateX(400px) translateY(50px);
   
    height: 500px;
}

.infotextbox02info{
    background-color: #ffffff;
    text-align: center;
    font-size: x-large;
    padding: 6.667vh;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 0%;
    font-size: 4.667vh;
    height: 59.667vh;
}

