/* Container needed to position the button. Adjust the width as needed */
.container {
    position: relative;
    width: 100%;
    margin:auto;
    display: block;
}

/* Make the image responsive */
.container img {
    width: 100%;
    height: auto;
}

.container .kitchen {
    position: absolute;
    top: 49%;
    left: 44.7%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: transparent;
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    width: 11.7vw;
    height: 6.2vw;
    border: none;
    cursor: pointer;
}
.container .livingRoom {
    position: absolute;
    top: 49.2%;
    left: 56.2%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: transparent;
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    width: 11.7vw;
    height: 6.5vw;
    border: none;
    cursor: pointer;
}

.container .keller {
    position: absolute;
    top: 69%;
    left: 50.5%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: transparent;
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    width: 23vw;
    height: 6.5vw;
    border: none;
    cursor: pointer;
}

.container .bad {
    position: absolute;
    top: 29.2%;
    left: 44.7%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: transparent;
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    width: 11.7vw;
    height: 5.6vw;
    border: none;
    cursor: pointer;
}

.container .room {
    position: absolute;
    top: 29.2%;
    left: 56.2%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: transparent;
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    width: 11.7vw;
    height: 5.6vw;
    border: none;
    cursor: pointer;
}

.container .btn:hover {
    cursor: pointer;
}