.textbox5 {
    background-color: white;
    text-align: center;
    font-size: x-large;
    padding: 4.166666666667vh;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;
    border-width: 0.83333333333333vw;
    font-size: 4.166666666667vh;
    height: 54.166666666667vh;
}
.Bilder05Spiel {
    position: relative;
    height: 41.666666666667vh;
}