.BildSDG4{
    width: 60px;
    }
.EinleitungSDG04{
    font-size: 30px;
}
.SpielregelnSDG04{
    font-size: 30px;
}
.GB_Text{
    font-size: 22px;
    margin-bottom: 20px;
    border: 2px solid ;
    border-radius: 5px;
}
.Spielfeld04 {
    height: 760px;
    margin-left: 0;
    position: absolute;
    top: 200px;
    left: 10px;
}
.infotextbox04 {
    background-color: #ffffff;
    text-align: left;
    font-size: x-large;
    padding: 50px;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;
    border-width: 15px;
    font-size: 35px;
    height: 800px;
}
.Cards {
    height: 250px;
    padding-right: 40px; 
    float: right;
    position: absolute; 
    top: 450px;
    
    
}

.Infotext04 {
    font-size: 35px;
}
.cardDescription {
    position: absolute;
    top: 700px;
font-size: 31px;}

