.sdg6card{
    background: none;
    width: 300px;
    height: 300px;
    margin: 20px;
    border-width: 11px;
    border-color:rgb(58, 132, 192);
    border-radius: 15px;
    font-Size: 220px;
    float: left;
   

}