.hoverbutton{
    background: none;
    border-color: red;
    border-radius: 15px;
    border-width: 7px;
    font-size:50px;
    color: red;
}

.selectedPerson{
outline-color: red;
outline-style: solid;
outline-width: 40px;
}
.personCheckAnswerButton{
    justify-content: space-around;
    display: block;
    margin-left:auto;
    margin-right: auto;
    width:350px;
  

}
.personCheckOkButton
{
  background: none;
  border:none;
  float: right;
  margin-top: 45vh;
  margin-right: 30px;
  font-size: 3vh;
  outline-offset: 10px;
  outline-color: red;
  outline-style: solid;
  
  
}
.personText{
  font-size: 39px;
}
abbr[title] {
    position: relative;
    
    /* ensure consistent styling across browsers */
    text-decoration: underline dotted;
  }
  
  abbr[title]:hover::after,
  abbr[title]:focus::after {
    content: attr(title);
    
    /* position tooltip like the native one */
    position: absolute;
    left: 0;
    bottom: -50px;
    width: auto;
    
    
    /* style tooltip */
    background-color: red;
    color: #fff;
    border-radius: 3px;
    box-shadow: 1px 1px 5px 0 rgba(0,0,0,0.4);
    font-size: 30px;
    padding: 3px 5px;
    max-width: 600px;
    min-width: 400px;
    
  }
  
  /* Other stuff unrelated to this */
  
  